<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Mentat">
        <activity
            android:name=".AssistActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
